<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<p>
  <strong>User type:</strong>
  <%= @profile.user_type %>
</p>

<p>
  <strong>Education:</strong>
  <%= @profile.education %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @profile.experience %>
</p>

<p>
  <strong>About me:</strong>
  <%= @profile.about_me %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Github:</strong>
  <%= @profile.github %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @profile.linkedin %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @profile.twitter %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @profile.instagram %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
