<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @skill.language %>
</p>

<p>
  <strong>Framework:</strong>
  <%= @skill.language %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
